# Archivo generados por el sistema operativo #
######################
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db

# Compilados de Python #
######################
*.pyc
*.pyo
__pycache__

# Logs #
######################
*.log

# Respaldos #
*~

# Generados por IDE's #
.project
.pydevproject
.settings
org.eclipse.core.resources.prefs
